<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARAJOARA</title>

    <link rel="stylesheet" th:href="@{/Style/Morador/style_eventos_morador.css}">
    
</head>
<body>
    <!--header-->
    <header>
        <div class="nav_logo">
            <img class="img_logo" src="../../imgs/img_logo.jpg">
        </div>
        <div class="nav_area_user">
            <p class="p_nav">Olá, Fulano!</p>
            <img class="img_nav_login" src="../../imgs/img_profile_icon.png" alt="" onclick="toggleDropdown()">
            <div id="user-dropdown" class="dropdown-menu">
                <a th:href="@{/morador/perfil}">Perfil</a>
                <a th:href="@{/logout}">Sair</a>
            </div>
        </div>
    </header>

    <!--menu lateral-->
    <div class="container-menu-containers">
        <!--botoes-->
        <nav class="button-containter">
            <h2 class="menu-text">Menu</h2>
            <hr>
            <div class="btn">
                <a th:href="@{/morador/eventos}">EVENTOS</a>
            </div>
            <div class="btn">
                <a th:href="@{/morador/achados}">ACHADOS E PERDIDOS</a>
            </div>
            <div class="btn">
                <a th:href="@{/morador/aluguel}">ALUGUEL</a>
            </div>
            <div class="btn">
                <a th:href="@{/morador/reclamacoes}">RECLAMAÇÕES</a>
            </div>
        </nav>
    </div>
        <!--container-->
<div class="container">
    <h1 class="title">EVENTOS</h1>
    <!--galeria-->
    <div class="gallery">
        <div class="gallery-item" onclick="openPopup('../../imgs/img6.jpg', 'Descrição do evento 1', 'Dia 10/05/2025')">
            <img src="../../imgs/img6.jpg" alt="Evento 1" class="gallery-img">
        </div>
        <div class="gallery-item" onclick="openPopup('../../imgs/img6.jpg', 'Descrição do evento 2', 'Dia 15/05/2025')">
            <img src="../../imgs/img6.jpg" alt="Evento 2" class="gallery-img">
        </div>
        <div class="gallery-item" onclick="openPopup('../../imgs/img7.jpg', 'Descrição do evento 3', 'Dia 20/05/2025')">
            <img src="../../imgs/img7.jpg" alt="Evento 3" class="gallery-img">
        </div>
        <div class="gallery-item" onclick="openPopup('../../imgs/img7.jpg', 'Descrição do evento 4', 'Dia 25/05/2025')">
            <img src="../../imgs/img7.jpg" alt="Evento 4" class="gallery-img">
        </div>
        <div class="gallery-item" onclick="openPopup('../../imgs/img6.jpg', 'Descrição do evento 5', 'Dia 30/05/2025')">
            <img src="../../imgs/img6.jpg" alt="Evento 5" class="gallery-img">
        </div>
        <div class="gallery-item" onclick="openPopup('../../imgs/img7.jpg', 'Descrição do evento 6', 'Dia 05/06/2025')">
            <img src="../../imgs/img7.jpg" alt="Evento 6" class="gallery-img">
        </div>
    </div>
</div>

<!-- Popup -->
<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close-btn" onclick="closePopup()">&times;</span>
        <img id="popup-img" src="" alt="Evento" class="popup-img">
        <p id="popup-description" class="popup-description"></p>
        <p id="popup-date" class="popup-date"></p>
    </div>
</div>

<script src="../../Scripts/script_eventos.js"></script>


</body>
</html>
